@charset "UTF-8";
*{margin: 0;padding: 0;color: #333333}
ul,li{list-style: none;}
body{min-height: 100vh;width: 100%;}
a{text-decoration: none;color: #333333}

/* 주조색 : #3cb149 */
/* 보조색 : #1d8844 #434748*/

#wrap{width: 1200px;height: 700px;background: #fff;}
#wrap > section{width: 1200px;}

/*section_A*/

/*SEC_A_LOGO*/
#wrap > .c_a{height:100px;display: flex;justify-content: space-between;}
#wrap > .c_a > .logo_part{width: 300px;height: 100%;display: flex;justify-content: center; align-items: center;}
#wrap > .c_a > .logo_part > .logo{width: 200px;height: 40px;background: url(../images/logo.png) no-repeat center / cover;}
/*SEC_A_MENU*/
#wrap > .c_a > .menus{width: 1000px;height: 100px;position: relative}
#wrap > .c_a > .menus > .menu_wrap{width: 700px;height: 100%;display: flex;position: absolute;right: 50px;top: 0;bottom: 0;z-index: 30;}
#wrap > .c_a > .menus > .menu_wrap > li{width: 175px;height: 100%;display: flex;align-items: center;justify-content: center;background:#3cb149}

#wrap > .c_a > .menus > .sub_wrap{width: 700px;height: 200px;display: flex;position: absolute;right: 50px;top: -100px;bottom: 0;z-index: 20;}
#wrap > .c_a > .menus > .sub_wrap > li{width: 175px;height: 200px;display: flex;flex-flow: column;}
#wrap > .c_a > .menus > .sub_wrap > li a{width: 175px;height: 50px;display:block;text-align: center;line-height: 50px;}

/*section_B*/
#wrap > .c_b{height:300px;overflow-x: hidden;}
#wrap > .c_b > .slide{width: 300%;height: 100%;display: flex;}
#wrap > .c_b > .slide li{width: 100%;height:100%;background: #faf;}
#wrap > .c_b > .slide li:nth-child(1){background: url(../images/slide1.jpg) no-repeat center / cover;}
#wrap > .c_b > .slide li:nth-child(2){background: url(../images/slide2.jpg) no-repeat center / cover;}
#wrap > .c_b > .slide li:nth-child(3){background: url(../images/slide2.jpg) no-repeat center / cover;}


/*section_C*/
#wrap > .c_c{height:200px;display: flex;}
#wrap > .c_c > div{}

/*section_D*/
#wrap > .c_d{height:100px;}
